<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Worklog</title>
</head>
<body>
<h1>Worklog id: {{ worklog.id }}</h1>

<form action='#'>
    <h2>Mentor:</h2>
    <div>Name: {{ worklog.mentor.first_name }} {{ worklog.mentor.last_name }}</div><br>
    <div>Email: {{ worklog.mentor.email }} </div><br>


    <h2>Mentee:</h2>
    <div>Name: {{ worklog.mentee.first_name }} {{ worklog.mentee.last_name }}</div><br>
    <div>{{ worklog.mentee.email }} </div><br>

    <h2>Clock-in time: {{ worklog.clock_in }}</h2>
    <h2>Clock-out time: {{ worklog.clock_out }}</h2>
    <h2>Session notes: </h2>
    <p>{{ worklog.notes }}</p>
</form>
</body>
</html>