table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-radius: 0.3rem;
    overflow: hidden;
}

thead{
    position: sticky;
    z-index: 1;
}

thead tr{
    background: rgb(135, 179, 132);
}

th{
    font-weight: 600;
    padding: 0.3rem;
    font-size: 1rem;
}

tbody tr{
    background: white;
}

td{
    padding: 0.1rem;
    border: 1px solid grey;
    font-size: 1rem;
}